# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties

# IDE
.idea/
*.iml

# OS generated
.DS_Store

# NDK / Native
.cxx/
.externalNativeBuild/

# Captures
captures/

# Keystore files (不要上传敏感文件)
*.jks
*.keystore

# Log files
*.log
